/* HEADER -- GLOBAL*/

body > header {
    background-color: black;
    height: calc(2vw + 140px);
}

body > header > input {
    display: none;
} 

body > header > a {
    background: none;
}

body > header img { 
    position: relative; 
    top: 1vw; 
    z-index: 1;
} 

body > header .navbar ul li { 
    letter-spacing: rem(3px); 
} 

@keyframes navbar_compression{ 
    from {
        margin: rem(10px) rem(20px);
    } 

    to { 
        margin: rem(5px) rem(10px); 
    } 
} 

@media #{$large-down} { 
    
    body > header img {
        left: 15%;
        transform: translateX(-50%);
    }

    body > header .navbar {
        position: absolute;
        left: 55%;
        transform: translate(-50%, -50%);
        top: calc(1vw + rem(71px)); /* 71 => Taille du logo divisée par 2 */
    }

    body > header .navbar ul {
        margin: 0px;
    }

    body > header .navbar ul li {
        display: inline-block;
        letter-spacing: rem(3px);
        margin: rem(5px) rem(10px); 

        @media screen and (min-width: 1592px) {
            animation: navbar_compression 0.2s linear both;
        }
    }
}

@media #{$medium-up} {

    body > header .navbar {
        opacity: 0;

        width: 105vw;
        height: 105vh;

        font-size: rem(30px);
        background: #00000028;
        position: fixed;
        z-index: 100;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;

        transition: transform 0.6s ease, opacity 0.6s ease;
        transform: translateX(100%);
    }
        

    @supports (backdrop-filter: blur(16px)) {
        body > header .navbar {
            backdrop-filter: blur(16px);
        }
    }

    body > header .navbar ul {
        padding: 0;
    }

    body > header .navbar ul li {
        list-style: none;
    }

    body > header > input:checked + div + a + .navbar{
        opacity: 1;
        transform: translateX(0);
    }


    body > header > div {

        display: flex;
        align-items: center;
        cursor: pointer;

        z-index: 101;
        position: absolute;
        right: 5vw;
        top: calc(1vw + rem(71px)); /* 71 => Taille du logo divisée par 2 */
        transform: translateY(-50%);

        height: 40px;

        label {
            display: block;
        }

        label span.midblock {
            display: block; 
        
            width: 50px; 
            height: 10px;
            background-color: white; 
            border-radius: 20px; 
            cursor: pointer; 

            transition: all 0.35s ease; 
        } 
        

        label:before, label:after {
            content: ""; 

            width: 50px; 
            height: 10px;  
            border-radius: 20px; 
            background-color: white; 
            cursor: pointer; 

            position: absolute; 
        } 

        label:before {
            top: 0px;
            transition: all 0.35s ease;
        }

        label:after {
            bottom: 0px;
            transition: all 0.35s ease;
        }

    }

    body > header > input:checked + div {

        position: fixed;
        
        label span.midblock {
            transform: scaleX(0.8);
            transform-origin: center right;
        }
        
        & label:before {
            transform: rotate(45deg) scaleX(0.55);
            right: -23%;
            top: 5px;
        }

        & label:after {
            transform: rotate(-45deg) scaleX(0.55);
            right: -23%;
            bottom: 5px;
        }
    }

    body > header img {
        left: 5vw;
    }

}

/* HEADER -- ACCUEIL */

#accueil header img { 
    position: absolute;
}