#rooms main h2 {
    border-bottom: 2px solid #ffea00;
    width: fit-content;
}

#rooms img {
    border-radius: 15px;
}

#rooms #booking {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rooms #booking h3 {
    margin-left: 42px;
    position: relative;
}

#rooms #booking h3::before {
    display: inline-block;
    content: "";
    background-image: url("../img/warning.png");
    background-size: cover;
    width: 27px;
    height: 27px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
}

#rooms #booking p {
    margin: 10px 3.5vw;
}

#rooms #bl {
    padding: 2vw;
}

#rooms #bl a {
    color: black;
}

#rooms #bl h3 {
    font-family: "Alex Brush", sans-serif;
}

#rooms #bl div.upper-part {
    display: flex;

    @media screen and (max-width: 1616px) {
        flex-direction: column;
    }
}

#rooms #bl div.upper-part img {
    width: 40vw;
}
#rooms #bl div.upper-part img {
    margin-right: 4vw;
    object-fit: cover;
}
#rooms #bl div.upper-part img {
    margin-right: 4vw;
    object-fit: cover;
}

#rooms #bl div.img {
    @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;

        align-items: center;

        & img {
            width: 80%;
            margin-bottom: 15px;
            margin-right: 0;
        }
        
    }
}

#rooms #bl div.upper-part .description a {
    color: black;
}

#rooms #bl div.upper-part .description a.book {
    background-color: #d6ca41;
    padding: rem(10px);
    font-size: rem(30px);

    border-radius: rem(5px);
    box-shadow: 0px 0px rem(10px) rgba(0, 0, 0, 0.1);
}

// Icones

#rooms p.icon {
    margin-left: 42px;
    position: relative;

    &::before {

        display: inline-block;
        content: "";
        background-size: cover;
        width: 27px;
        height: 27px;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -35px;

    }
}

#rooms p.led::before {
    background-image: url("../img/led.png");
}
#rooms p.clim::before {
    background-image: url("../img/snowflake.png");
}
#rooms p.cctv::before {
    background-image: url("../img/cctv.png");
}


/* Images gallery */

#rooms #bl .gallery, #rooms #bl .gallery2 {
    position: relative;
    width: 96vw;
    height: rem(280px);
    overflow: hidden;

    display: flex;

    & div {
        display: flex;
    }
}

#rooms #bl .gallery img, #rooms #bl .gallery2 img {
    width: rem(300px);
    height: rem(200px);
    margin-right: 30px;
    margin-top: 20px;
    object-fit: cover;
}

@keyframes infinite-slide {

    0% {
        transform: translateX(148.125rem);
    }

    100% {
        transform: translateX(-148.125rem);
    }

}

#rooms #bl .gallery .g1 {
    position: absolute;

    animation: infinite-slide linear both 40s infinite -20s;
    -webkit-animation: infinite-slide linear both 40s infinite -20s;
    -o-animation: infinite-slide linear both 40s infinite -20s;
    -moz-animation: infinite-slide linear both 40s infinite -20s;
}

@keyframes infinite-slide2 {

    0% {
        transform: translateX(148.125rem);
    }

    100% {
        transform: translateX(-148.125rem);
    }

}

#rooms #bl .gallery .g2 {
    position: absolute;
    animation: infinite-slide2 linear both 40s infinite;
    -webkit-animation: infinite-slide2 linear both 40s infinite;
    -o-animation: infinite-slide2 linear both 40s infinite;
    -moz-animation: infinite-slide2 linear both 40s infinite;
}

#rooms #bl .gallery2 .g1 {
    position: absolute;

    animation: infinite-slide linear both 30s infinite -15s;
    -webkit-animation: infinite-slide linear both 30s infinite -15s;
    -o-animation: infinite-slide linear both 30s infinite -15s;
    -moz-animation: infinite-slide linear both 30s infinite -15s;
}

#rooms #bl .gallery2 .g2 {
    position: absolute;

    animation: infinite-slide2 linear both 30s infinite;
    -webkit-animation: infinite-slide2 linear both 30s infinite;
    -o-animation: infinite-slide2 linear both 30s infinite;
    -moz-animation: infinite-slide2 linear both 30s infinite;
}

// Version mobile temporaire

@media #{$medium-up} {

    #rooms #bl .gallery,
    #rooms #bl .gallery2 {
        height: auto;
    }

    #rooms #bl .gallery .g1,
    #rooms #bl .gallery2 .g1 {
        position: relative;
        flex-wrap: wrap;
        animation: none;
        justify-content: center;
    }

    #rooms #bl .gallery .g2,
    #rooms #bl .gallery2 .g2 {
        display: none;
    }

}





